/* Sidebar-Section */
.sidebar {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 70px;
    background-color: white;
    width: 95px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-links {
    height:104px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-links:hover {
    background-color: rgb(235,235,235);
}

.sidebar-links img {
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-links div {
    font-family: Roboto, Arial;
    font-size: 15px;
}